.App {
  text-align: center;
}

.buttona{
  padding-top: 5rem;
  margin: 0% auto;
}
button{
  width: 30%;
  height: 8rem;
  font-size: 4rem;
  line-height: 8rem;
  margin: 1rem;
  -webkit-appearance: none;
  border-radius: 0%;
  text-align: center;
}

li{
  list-style: none;
  display: flex;
  line-height: 2rem;
  padding-top: 2rem;
}
.miss{
  color: red;
}

.Q{
  font-size: 1.3rem;
}
.C{
  font-size: 1.3rem;
}

.quiz{
  padding-top: 2rem;
  font-size: 1.5rem;
}

.i{
  position: relative;
}

.maru{
  position: absolute;
  transform: translate(-50%, -10%);
  font-size: 7rem;
  color: red;
}
.batsu{
  position: absolute;
  transform: translate(-50%, -10%);
  font-size: 8rem;
  color: blue;
}

ul{
  width: 95%;
  margin: 0% auto;
}