.App {
  text-align: center;
}

.buttona{
  padding-top: 5rem;
  margin: 0% auto;
}

.buttonb{
  font-size: 3rem;
}
button{
  width: 9rem;
  height: 5rem;
  font-size: 3rem;
  line-height: 5rem;
  margin: 1rem;
  align-items: center;
  
  
}

li{
  list-style: none;
  display: flex;
  line-height: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px black solid;
  
}
.miss{
  color: red;
}

.Q{
  font-size: 1.3rem;
}
.C{
  font-size: 1.3rem;
}

.quiz{
  padding-top: 2rem;
  font-size: 1.5rem;
}

.i{
  position: relative;
  
}

.maru{
  position: absolute;
  transform: translate(-50%, -10%);
  font-size: 7rem;
  color: red;
}
.batsu{
  position: absolute;
  transform: translate(-50%, -10%);
  font-size: 8rem;
  color: blue;
}

ul{
  margin: 0% auto;
  padding: 0;
  width: 95%;
}

.T{
  width: 95%;
  margin: 0% auto;
}

.S{
  display: flex;
  margin-top: 0;
}
.S p {
  display: block;
  padding-left: 1rem;
  font-size: 0.4rem;
}