.App {
  text-align: center;
}

.buttona{
  padding-top: 5rem;
  margin: 0% auto;
}

.buttonb{
  font-size: 3.3;
}
button{
  width: 25%;
  font-size: 3rem;
  margin: 0.6rem;
}

li{
  list-style: none;
  display: flex;
  line-height: 2rem;
  padding-top: 2rem;
}
.miss{
  color: red;
}

.Q{
  font-size: 1.3rem;
}
.C{
  font-size: 1.3rem;
}

.quiz{
  padding-top: 2rem;
  font-size: 1.5rem;
}

.i{
  position: relative;
  
}

.maru{
  position: absolute;
  transform: translate(-50%, -10%);
  font-size: 7rem;
  color: red;
}
.batsu{
  position: absolute;
  transform: translate(-50%, -10%);
  font-size: 8rem;
  color: blue;
}

ul{
  margin: 0% auto;
  padding: 0;
  width: 95%;
}

.T{
  width: 95%;
  margin: 0% auto;
}